# Copie ce fichier en .env et remplis les valeurs

SECRET_KEY=change-moi-avec-une-vraie-cle-longue-et-aleatoire
DB_PASSWORD=palmgis2024
GEOSERVER_PASSWORD=palmgis2024
COPERNICUS_USER=ton_email@gmail.com
COPERNICUS_PASSWORD=ton_mot_de_passe_copernicus