Django==6.0.7
djangorestframework==3.16.0
djangorestframework-simplejwt==5.5.1
dj-rest-auth==7.0.1
django-allauth==65.10.0
django-filter==25.1
django-cors-headers==4.7.0
djangorestframework-gis==1.2.0
python-dotenv==1.1.1
psycopg2-binary==2.9.10